## Borz0 1.2.0

## Initializing :

In [2]:
#Importing the os, Spark in Python 3.12.7 and Checking the Version :
import os
from IPython.display import clear_output
import pandas as Pada
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc
print("IPython version :")
print("Pandas version :")
print("PySpark version :", pyspark.__version__)

IPython version :
Pandas version :
PySpark version : 3.5.4

##  Starting Borz0 1.2.0 :

In [3]:
#Build the ETL PipeLine
os.environ["JAVA_HOME"] = "/opt/homebrew/opt/openjdk@11"

spark = SparkSession.builder \
    .appName("Simple Test") \
    .master("local[*]") \
    .getOrCreate()

print("Spark session created successfully!")

25/02/27 09:28:15 WARN Utils: Your hostname, Juless-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.118.7.34 instead (on interface en0)
25/02/27 09:28:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/27 09:28:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark session created successfully!

## Load Data :

In [4]:
#Ask User for the Data they want to use, and then load it after checking it exists:
while True:
    data_loaded = input("Please enter the Data you want to Load : ")
    if os.path.isfile(data_loaded):
        print(f"{data_loaded} exists in the current directory and will be loaded")
        break
    else:
        print(f"Fatal Error, {data_loaded} does not exist in the directory")

RealestateData.csv exists in the current directory and will be loaded

In [5]:
#Visualizing the Data
file_path = data_loaded
howMany_shown = int(input("Please enter how many rows you want to display"))
df_spark = spark.read.csv(file_path, header=True, inferSchema=True)
df_spark.show(howMany_shown)

+-------------------+--------------------+----------+-----+-----------+------+-----+-----+--------------+---------+---------+
|               name|             address|      city|state|surfaceArea|  year|bth_r|bed_r|      hometype|sale/rent|    price|
+-------------------+--------------------+----------+-----+-----------+------+-----+-----+--------------+---------+---------+
|    Michael's house|3671 Whispymound ...|Los Santos|   CA|   5000sqft|2001.0|  2.0|  4.0|         house|     sale|8000000.0|
|     M. Wolf's flat|  21 Hangover Street| FableTown|   NY|    300sqft|1961.0|  1.0|  1.0|     apartment|     rent|   1208.0|
|  McCallister House|    88 Ladylay Drive|   Chicago|   IL|   2000sqft|1952.0|  4.0|  8.0|         house|     sale|4266252.0|
|Adams ContainerHome|  36 Industrial Road|   Oakland|   CA|    600sqft|2023.0|  1.0|  1.0|container home|     rent|   1600.0|
|  Carter Lighthouse|  37 Cliffside Drive| Cape Town|   CA|   1300sqft|1975.0|  2.0|  3.0|    lighthouse|     sale|1250000.0|
|   Evans EarthHouse|38 Green Valley Road| Asheville|   NC|    900sqft|2005.0|  1.0|  2.0|   earth house|     sale| 750000.0|
|    Foster Monastry|    39 Serenity Lane|     Kyoto|   JP|   2000sqft|1600.0|  3.0|  5.0|     monastery|     sale|9000000.0|
|        Gray Teepee|    40 Plains Avenue|  Santa Fe|   NM|    300sqft|2021.0|  1.0|  1.0|        teepee|     rent|    800.0|
|  Howard Skyscraper| 41 Financial Street| Hong Kong|   NY|   4000sqft|2017.0|  5.0|  6.0|    skyscraper|     rent|   6000.0|
|    Irwin Boathouse|    42 Lakeside Road|    Geneva|   CH|    800sqft|2010.0|  2.0|  2.0|     boathouse|     sale|1100000.0|
+-------------------+--------------------+----------+-----+-----------+------+-----+-----+--------------+---------+---------+
only showing top 10 rows

## Identifying the Parameters

In [39]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- surfaceArea: string (nullable = true)
 |-- year: double (nullable = true)
 |-- bth_r: double (nullable = true)
 |-- bed_r: double (nullable = true)
 |-- hometype: string (nullable = true)
 |-- sale/rent: string (nullable = true)
 |-- price: double (nullable = true)

## Ordering Data with Parameter :

In [9]:
#Order Data With a parametter
while True:
    parameter = input("Please enter the Parameter to use for Sorting the Data")
    clear_output(wait=True)
    if parameter in df_spark.columns:
        break
    else:
        print("Error, this parameter doesnt exist in")

howMany_shown = int(input("Please enter how many rows you want to display"))
sorted_df = df_spark.orderBy(desc(parameter))
print(f"Data sorted by using {parameter} as the reference")
if parameter not in df_spark.columns:
    raise ValueError(f"Column '{parameter}' does not exist in the DataFrame.")
sorted_df.show(howMany_shown)

Data sorted by using hometype as the reference
+--------------------+--------------------+-----------+-----+-----------+------+-----+-----+------------+---------+---------+
|                name|             address|       city|state|surfaceArea|  year|bth_r|bed_r|    hometype|sale/rent|    price|
+--------------------+--------------------+-----------+-----+-----------+------+-----+-----+------------+---------+---------+
|       Mitchell Yurt|     46 Prairie Road|    Bozeman|   MT|    400sqft|2022.0|  1.0|  1.0|        yurt|     rent|    950.0|
|        Carlson Yurt|62 Prairie View Road|   Billings|   MT|    450sqft|2023.0|  1.0|  1.0|        yurt|     rent|   1000.0|
|         Harris Yurt|      21 Desert Road|    Phoenix|   AZ|    300sqft|2023.0|  1.0|  1.0|        yurt|     rent|    900.0|
|         Smith Villa|   11 Palm Tree Blvd|Los Angeles|   CA|   3500sqft|2010.0|  4.0|  5.0|       villa|     sale|3000000.0|
|     Jones Treehouse|      43 Canopy Road| Costa Rica|   CR|    400sqft|2024.0|  1.0|  1.0|   treehouse|     rent|   1400.0|
| Zimmerman Treehouse|     59 Jungle Trail|       Bali|   ID|    450sqft|2025.0|  1.0|  1.0|   treehouse|     rent|   1500.0|
|     Clark Treehouse|     24 Forest Trail|   Portland|   OR|    500sqft|2017.0|  1.0|  1.0|   treehouse|     rent|   1300.0|
|        Long Trailer|         45 Route 66|Albuquerque|   NM|    600sqft|1990.0|  1.0|  1.0|     trailer|     rent|    650.0|
|      Bailey Trailer|    61 Interstate 10|     Tucson|   AZ|    650sqft|2000.0|  1.0|  1.0|     trailer|     rent|    700.0|
|       Allen Trailer|     29 Highway Road|  Las Vegas|   NV|    500sqft|1980.0|  1.0|  1.0|     trailer|     rent|    600.0|
|    Garcia Townhouse|      7 Maple Street|   New York|   NY|   1500sqft|2008.0|  2.0|  3.0|   townhouse|     sale|1800000.0|
|          Perez Tent|       27 Field Lane|     Austin|   TX|    100sqft|2021.0|  1.0|  0.0|        tent|     rent|    300.0|
|         Gray Teepee|    40 Plains Avenue|   Santa Fe|   NM|    300sqft|2021.0|  1.0|  1.0|      teepee|     rent|    800.0|
|       Wright Teepee|      56 Desert Road|  Flagstaff|   AZ|    350sqft|2022.0|  1.0|  1.0|      teepee|     rent|    850.0|
|       Taylor Studio|       16 Art Street|       Rome|   IT|    400sqft|2022.0|  1.0|  0.0|      studio|     rent|   1100.0|
|   Howard Skyscraper| 41 Financial Street|  Hong Kong|   NY|   4000sqft|2017.0|  5.0|  6.0|  skyscraper|     rent|   6000.0|
|   Xavier Skyscraper|57 Avenue of the ...|  Singapore|   SG|   4200sqft|2018.0|  5.0|  6.0|  skyscraper|     rent|   6500.0|
|     King Skyscraper| 30 High Rise Street|   Shanghai|   CN|   3000sqft|2015.0|  4.0|  4.0|  skyscraper|     rent|   5000.0|
|      White Rowhouse| 20 Cobblestone Path|     Boston|   MA|   1600sqft|1920.0|  2.0|  3.0|    rowhouse|     sale| 950000.0|
|     Moore Penthouse|    18 Sky High Lane|      Dubai|   AE|   2000sqft|2019.0|  3.0|  3.0|   penthouse|     rent|   4000.0|
|     Foster Monastry|    39 Serenity Lane|      Kyoto|   JP|   2000sqft|1600.0|  3.0|  5.0|   monastery|     sale|9000000.0|
|      Vega Monastery|    55 Mountain Path|  Kathmandu|   NP|   2200sqft|1700.0|  3.0|  5.0|   monastery|     sale|9500000.0|
|    Anderson Mansion|        15 Grand Ave|      Paris|   FR|   6000sqft|1890.0|  5.0|  6.0|     mansion|     sale|    1.0E7|
|         Wilson Loft|       13 Brick Lane|     Berlin|   DE|   1000sqft|2018.0|  2.0|  2.0|        loft|     rent|   2200.0|
|   Carter Lighthouse|  37 Cliffside Drive|  Cape Town|   CA|   1300sqft|1975.0|  2.0|  3.0|  lighthouse|     sale|1250000.0|
|   Thomas Lighthouse|  53 Coastal Highway|  Galveston|   TX|   1400sqft|1980.0|  2.0|  3.0|  lighthouse|     sale|1300000.0|
|    Young Lighthouse|     28 Coastal Path|     Sydney|   AU|   1200sqft|1960.0|  2.0|  2.0|  lighthouse|     sale|1100000.0|
|         Perry Igloo|    49 Arctic Circle|  Reykjavik|   IS|    300sqft|2023.0|  1.0|  1.0|       igloo|     rent|    600.0|
|      Thompson Igloo|      23 Iceberg Way|  Anchorage|   AK|    200sqft|2024.0|  1.0|  1.0|       igloo|     rent|    500.0|
|         Lopez Igloo| 32 Frozen Lake Road|     Quebec|   CA|    250sqft|2022.0|  1.0|  1.0|       igloo|     rent|    550.0|
|     Quinn houseboat|     50 Canal Street|  Amsterdam|   NL|    800sqft|2015.0|  2.0|  2.0|   houseboat|     rent|   1800.0|
|     Green Houseboat|     34 Canal Street|     Venice|   IT|    700sqft|2012.0|  2.0|  2.0|   houseboat|     rent|   1700.0|
|     Michael's house|3671 Whispymound ...| Los Santos|   CA|   5000sqft|2001.0|  2.0|  4.0|       house|     sale|8000000.0|
|   McCallister House|    88 Ladylay Drive|    Chicago|   IL|   2000sqft|1952.0|  4.0|  8.0|       house|     sale|4266252.0|
|   Owens HobbitHouse|       48 Shire Lane| Queenstown|   NZ|    500sqft|2019.0|  1.0|  1.0|hobbit house|     rent|   1450.0|
| Edwards HobbitHouse|    64 Hobbiton Road|   Matamata|   NZ|    550sqft|2020.0|  1.0|  1.0|hobbit house|     rent|   1500.0|
|  Baker Hobbit House| 35 Underground Lane| Wellington|   NZ|    400sqft|2018.0|  1.0|  1.0|hobbit house|     rent|   1400.0|
|     Brown Farmhouse|   10 Sunflower Road|Kansas City|   MO|   2500sqft|1930.0|  3.0|  4.0|   farmhouse|     sale| 650000.0|
|    Evans EarthHouse|38 Green Valley Road|  Asheville|   NC|    900sqft|2005.0|  1.0|  2.0| earth house|     sale| 750000.0|
|Underwood EarthHouse|     54 Forest Drive|    Boulder|   CO|   1000sqft|2007.0|  1.0|  2.0| earth house|     sale| 800000.0|
|       Thomas Duplex|       17 Oak Street|    Seattle|   WA|   1800sqft|2005.0|  2.0|  3.0|      duplex|     sale|1200000.0|
|         Nelson Dome|     47 Hilltop Road|       Taos|   NM|    700sqft|2000.0|  1.0|  2.0|        dome|     sale| 650000.0|
|       Davidson Dome|    63 Hillside Road|     Sedona|   AZ|    750sqft|2005.0|  1.0|  2.0|        dome|     sale| 700000.0|
|           Hill Dome|33 Desert Hills Road|   Santa Fe|   NM|    800sqft|2000.0|  1.0|  2.0|        dome|     sale| 600000.0|
|     Johnson Cottage|     4 Pinecone Path|      Aspen|   CO|   1200sqft|1985.0|  2.0|  3.0|     cottage|     sale| 900000.0|
+--------------------+--------------------+-----------+-----+-----------+------+-----+-----+------------+---------+---------+
only showing top 45 rows

## Create a folder and Store the Data into it :

In [7]:
#Creating the file and naming it
fldr_name = input("Please enter a name for the Folder")
sorted_df.coalesce(1).write.csv(fldr_name, header=False, mode='overwrite')

## Stopping Borz0 :

In [8]:
#Stopping the ETL Pipeline to release memory and ressources
spark.stop()
#Checking if Spark is stoppped
try:
    if spark.sparkContext._jsc is None:
        print("Spark successfully stopped")
    else:
        print("Error: Spark is not stopped")
#if the upper part did not work :
except AttributeError:
    print("Spark successfully stopped")

Spark successfully stopped